@using System.Text

@inherits UIWrapperComponent
@implements ICollapsibleComponent
@implements IInteractiveComponent

@if (Variant == UIButtonVariant.Icon)
{
    if (Disabled)
    {
        <button id="@Id" class="@ClassList" style="@Style" @attributes="Attributes" disabled>
            @ChildContent
        </button>
    }
    else
    {
        <button id="@Id" class="@ClassList" style="@Style" @attributes="Attributes" @onclick="InvokeClickAsync">
            @ChildContent
        </button>
    }
}
else if (Variant == UIButtonVariant.IconInverted)
{
    if (Disabled)
    {
        <button id="@Id" class="@ClassList" style="@Style" @attributes="Attributes" disabled>
            @ChildContent
        </button>
    }
    else
    {
        <button id="@Id" class="@ClassList" style="@Style" @attributes="Attributes" @onclick="InvokeClickAsync">
            @ChildContent
        </button>
    }
}
else
{
    if (Disabled)
    {
        <button id="@Id" class="@ClassList" style="@Style" disabled>
            <UIRow FlexVariant="UIFlexVariant.JustifyContentCenter | UIFlexVariant.AlignItemsCenter">
                @ChildContent
                <span>@Text</span>
            </UIRow>
        </button>
    }
    else
    {
        if (_loading)
        {
            <button id="@Id" class="@ClassList" style="@Style" disabled>
                <UIRow Class="gap-05" FlexVariant="UIFlexVariant.AlignItemsCenter">
                    <UILoader />
                    <span>Loading ...</span>
                </UIRow>
            </button>
        }
        else
        {
            <button id="@Id" class="@ClassList" style="@Style" @onclick="InvokeClickAsync">
                <UIRow FlexVariant="UIFlexVariant.JustifyContentCenter | UIFlexVariant.AlignItemsCenter">
                    @ChildContent
                    <span>@Text</span>
                </UIRow>
            </button>
        }
    }
}

@code
{
    [Parameter, EditorRequired]
    public required UIButtonVariant Variant { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;
    
    [Parameter]
    public bool Disabled { get; set; }
    
    [Parameter]
    public EventCallback OnClick { get; set; }
    
    public bool Collapsed { get; set; }

    private bool _loading;

    public void Collapse()
    {
        if (Disabled)
        {
            return;
        }

        Collapsed = !Collapsed;
    }

    private async Task InvokeClickAsync()
    {
        _loading = true;

        try
        {
            await OnClick.InvokeAsync();
        }
        catch (Exception)
        {
            // Ignore any exception - must be handled in other place
        }
        finally
        {
            _loading = false;
        }
    }

    protected override string GetUIComponentClass()
    {
        var strBuilder = new StringBuilder($"tridenton-ui-button {Variant}");

        if (_loading)
        {
            strBuilder.Append(" loading");
        }
        
        return strBuilder.ToString();
    }
}